<nav class="flex space-x-4">
    <a href="/" class="hover:underline">Home</a>
    <a href="/dashboard" class="hover:underline">Dashboard</a>
    <a href="/productdashboard" class="hover:underline">Products Dashboard</a>
</nav>
